.stop-watch {
    min-width: 360px;
    max-width: 520px;
    padding: 2.5rem 3rem;

    border-radius: 2rem;
    border: 1px solid var(--background-color);
    background: linear-gradient(
        180deg, 
        var(--background-color-light), 
        var(--background-color), 
        var(--background-color-dark)
    );
    box-shadow: 0 20px 40px #000000;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 750px) {
    .stop-watch {
        max-width: unset;
        min-height: 450px;
        justify-content: space-between;
        margin-inline: 2rem;
    }
}

/* Mobile*/
@media (max-width: 480px) {
    body {
        padding: 5rem 0;
        margin: 0%;
    }

    .stop-watch {
        padding: 2rem 1.5rem;
        border-radius: 1.5rem;
        margin-inline: 0.5rem;
    }
}

@media (max-width: 400px) {
    .stop-watch {
        padding: 2rem 0.75rem;
        min-width: 340px;
    }
}
